#calculator
{
  border: 1px solid darkgray;
  border-radius: 5px;
  height: 335px;
  width: 180px;
  display: flex;
 justify-content: center;
 flex-wrap: wrap;
  
}

#display
{
  margin: 5px; 
  height: 24px;
  width: 154px;
}

.button_Container
{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;

}

.button
{
  
  height: 40px;
  width: 40px;
  margin: 5px;
  font-size: 20px;
  
  
}