.botton1{
  background-color: rgb(176, 251, 176);
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
}
.botton3{
  background-color: rgb(176, 251, 176);
  border: none;
  border-radius: 5px;
  padding: 5px 15px;

}
.botton2{
  background-color: rgb(224, 220, 220);
  border: solid;
  border-radius: 10px;
  padding: 5px 20px;
  text-transform: uppercase;
  
}
div{
  
  background-color: aqua ;
  height: auto;
  width: 420px; 

  
}
